<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/submit.css">
        <title>Noticias Atizapan</title>
    </head>
    <body>
        <div class="formContainer">
            <form>

                <div class="containerInun">
                    <div class="NotiInun">
                        <input id="Inun" type="Clima" placeholder="Inundaciones">
                        <button id="EnvInun" onclick="sendInun()">Enviar Noticia</button>
                    </div>
                </div>

                <div class="containerIncen">
                    <div class="NotiIncen">
                        <input id="Incen" type="Clima" placeholder="Incendios">
                        <button id="EnvIncen" onclick="sendIncen()">Enviar Noticia</button>
                    </div>
                </div>
                    
                <div class="containerAccMov">
                    <div class="NotiAccMov">
                        <input id="AccMov" type="Clima" placeholder="Accidentes Auto">
                        <button id="EnvAccMov" onclick="sendAcc()">Enviar Noticia</button>
                    </div>
                </div>

                <div class="containerTraf">
                    <div class="NotiTraff">
                        <input id="Traf" type="Clima" placeholder="Trafico">
                        <button id="EnvTraf" onclick="sendTraf()">Enviar Noticia</button>
                    </div>
                </div>

                <div class="containerSis">
                    <div class="NotiSis">
                        <input id="Sis" type="Clima" placeholder="Sismos">
                        <button id="EnvSis" onclick="sendSis()">Enviar Noticia</button>
                    </div>
                </div>

                <div class="containerOtros">
                    <div class="NotiOtro">
                        <input id="Otros" type="Clima" placeholder="Otros">
                        <button id="EnvOtros" onclick="sendOt()">Enviar Noticia</button>
                    </div>
                </div>

            </form>
    </div>
    <script src="/js/submit.js"></script>
    </body>
</html>